{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button onClick=null iconButton=true}}
          {{paper-icon "menu" class="md-menu-origin"}}
        {{/paper-button}}
      {{/menu.trigger}}

      {{#menu.content width=4 as |content|}}
          {{#content.menu-item href=(href-to "index")}}
            <span class="md-menu-align-target">Home</span> {{item}}
          {{/content.menu-item}}
          {{#content.menu-item href=(href-to "about")}}
            <span class="md-menu-align-target">About</span> {{item}}
          {{/content.menu-item}}
          {{#content.menu-item href=(href-to "paperexample")}}
            <span class="md-menu-align-target">Paper Example</span> {{item}}
          {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}
    <h2>
      Ember Paper Example
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}