{{!--
{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'index'}}{{#paper-button}}Home{{/paper-button}}{{/link-to}}
    {{#link-to 'paperexample'}}{{#paper-button}}Paper Example{{/paper-button}}{{/link-to}}
    {{#link-to 'about'}}{{#paper-button}}About{{/paper-button}}{{/link-to}}
  </div>
{{/paper-toolbar}}
--}}
{{!--
          {{#content.menu-item}}
            <span class="md-menu-align-target">{{link-to "About" "about"}}</span> {{item}}
          {{/content.menu-item}}
--}}
{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{!--
    {{#paper-button iconButton=true}}
      {{paper-icon "menu"}}
    {{/paper-button}}
    --}}
    {{!-- Test Start --}}
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button onClick=null iconButton=true}}
          {{paper-icon "menu" class="md-menu-origin"}}
        {{/paper-button}}
      {{/menu.trigger}}

      {{#menu.content width=4 as |content|}}
          {{#content.menu-item href=(href-to "about")}}
            <span class="md-menu-align-target">About</span> {{item}}
          {{/content.menu-item}}
          {{#content.menu-item href=(href-to "paperexample")}}
            <span class="md-menu-align-target">Paper Example</span> {{item}}
          {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}
    {{!-- Test End --}}
    <h2>
      Ember Paper Example
    </h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
{{!--
{{#smd-app}}

  {{#smd-navbar scroll=true}}
    {{app-navigation}}
  {{/smd-navbar}}

  {{#smd-drawer}}
    {{app-navigation}}
  {{/smd-drawer}}

  {{#smd-content}}
    {{outlet}}
  {{/smd-content}}

{{/smd-app}}
--}}